//workout.scss

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

//----------------- Beginning of Header -----------------
.header-container {
  background-color: #f8f8f8; // A light background color for the header
  padding: 1px 0; // Padding for top and bottom
  text-align: center; // Center align the content

  .header-content {
    max-width: 600px; // Max width for the content
    margin: 0 auto; // Center the content block
  }

  .header-title {
    font-family: Chronicle Deck, Times, serif;
    font-size: 2.5rem; // Large font size for the main title
    font-weight: 600; // Font weight for the title
    color: #333; // Dark color for contrast
    margin-bottom: 8px; // Space between title and subtitle
  }

  .header-subtitle {
    font-family: var(--Playfair);
    font-size: 1rem; // Smaller font size for the subtitle
    color: #666; // A lighter color for the subtitle
  }
}

//----------------- End of Header -----------------

//----------------- Beginning of Calender -----------------

// Define your color palette and other style variables
$background-color: #ffffff;
$text-color: black;
$today-color: rgb(201, 201, 201);
$button-spacing: 13em; // Reduced spacing for a tighter layout
$day-column-width: 14.28%; // This ensures equal width for 7 days

// Base calendar styles
.calendar-header-container {
  background: none;
  display: flex;
  justify-content: center; // Always center the content
  align-items: center;
  padding: 1em;
  position: relative; // Allows absolute positioning relative to this container
  max-width: 500px; // Prevents the container from stretching too far on larger screens
  margin: auto; // Centers the entire container within its parent

  .nav-button {
    background: none; // No background
    border: none; // No border
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px; // Padding around the arrow for clickability
  
    &.prev {
      left: 10px; // Adjust the position as necessary
    }
  
    &.next {
      right: 10px; // Adjust the position as necessary
    }
  
    &:hover {
      color: #007bff; // Change color on hover to indicate interactiveness
    }
  
    &:focus {
      outline: none; // Removes the focus outline to maintain a clean look
    }
  
    &::before {
      content: ''; // Use an icon font like Font Awesome here, or keep it empty if using text content
      display: block;
      font-size: 1.5rem; // Adjust size as needed
    }
  
    font-size: 1rem; // Adjust the font size as necessary
    line-height: 1; // Ensure the content is vertically centered
  }

  .month-year-header {
    // No changes needed here if you're happy with the current styles
    font-size: x-large;
    font-weight: bold;
    position: relative; // Ensures this content is above the absolutely positioned buttons
    z-index: 1; // Raises the z-index so it's above the buttons
  }
}

@media (max-width: 768px) {
  .calendar-header-container {
    .nav-button {
      &.prev {
        left: 70px; // Move the previous button closer to the header
      }

      &.next {
        right: 70px; // Move the next button closer to the header
      }
    }
  }
}

  .calendar-header {
    flex: none;
    margin: 0 1em;
    color: $text-color;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
    flex-grow: 1; // Allows the header to fill the space
    text-align: center; // Centers the header text
  }


.today-button-container {
  text-align: center; // Centers the "Today" button if the container is full width
  padding: 0.5em; // Gives some space around the button
  

  .today-button {
    background-color: $background-color; // White background
    color: #25839B; // Text color you desire, seems like a blue
    padding: 10px 20px; // Padding inside the button
    border: 2px solid #25839B; // Solid border with the same color as the text
    border-radius: 25px; // Fully rounded corners for pill shape
    font-weight: bold; // Bold text
    font-size: .7rem; // Font size, adjust as needed
    text-transform: uppercase; // Uppercase text
    cursor: pointer;
    text-align: center;
    display: inline-block; // Allows the use of text-align
    margin: 0 auto; // Center button if within a block
    transition: background-color 0.3s, color 0.3s; // Smooth transition for hover effect
  
    &:hover {
      background-color: #15505F; // Background color for hover
      color: #ffffff; // Text color for hover
    }
  }
}

.calendar-container {
  position: relative;
  background-color: $background-color;
  color: $text-color;
  background-color: $background-color;
  color: $text-color;

  .week {
    display: flex;

    .day-column {
      width: $day-column-width; // Set width to distribute space evenly
      text-align: center;
      padding: 1em 0;

      &.today,
      &.selected {
        background-color: $today-color;
        border-radius: 4px; // Rounded corners for today and selected day
      }

      .date-header {
        color: $text-color;
        display: flex;
        flex-direction: column;
        align-items: center; // Center the day of week and number
        font-size: 1.1em;

        .weekday {
          color: $text-color;
        }

        .day-number {
          color: $text-color;
          font-weight: bold;
          margin: 0.5em 0; // Provide some space between day and date
        }
      }
    }
  }
}

//----------------- End of Calender -----------------


//----------------- Beginning of Trainer -----------------

.trainers-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Creates a 4-column layout
  gap: 1em; // Spacing between cards
  padding: 1em; // Padding around the entire grid
  box-sizing: border-box; // Ensures padding doesn't affect the total width

  @media (max-width: 1200px) {
    // Adjusts to a 2-column layout for smaller screens
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    // Adjusts to a single column for mobile screens
    grid-template-columns: 1fr;
  }
}

.trainer-schedule {
  display: flex;
  flex-direction: column; // Arrange content vertically
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: $background-color;

  .trainer-top {
    display: flex;
    flex-direction: row; // Arrange image and content side by side
    align-items: center;
    width: 100%;

    .trainer-image-container {
      position: relative; // To control the aspect ratio
      width: 100%; // Full width of the container
      padding-top: 250px; // This sets the height relative to the width, adjust the percentage to change the aspect ratio

      .trainer-pic {
        position: absolute; // Absolutely position the image to fill the container
        top: 5px;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 5px; // Note that padding within an absolute element doesn't work as expected. Consider using margin if needed.
        object-fit: cover; // Cover the area while maintaining aspect ratio
        object-position: center; // Center the image within the container
        border-top-left-radius: 8px; // Round the top-left corner of the image
        border-top-right-radius: 8px; // Round the top-right corner of the image
        border-bottom-left-radius: 8px; // Round the bottom-left corner of the image
        border-bottom-right-radius: 8px; // Round the bottom-right corner of the image
      }
    }

    .trainer-info {
      flex-basis: 50%; // Allocate 50% of the width to the content
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .trainer-name {
        text-align: center;
        color: $text-color;
        font-size: 1.4em;
        font-weight: bold;
        margin: 0;
      }

      .trainer-bio {
        font-size: 0.9em;
        color: #666;
      }
    }
  }

  .trainer-bottom {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 90%;

    .classes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
      // Fixed height to accommodate the largest expected content
      min-height: 100px; // Adjust as needed to fit your content
      padding: 0 16px; // Consistent padding

      .class {
        text-align: center;
        margin-bottom: 0.5rem; // Fixed margin for uniform spacing

        .class-title {
          color: $text-color;
          font-weight: bold;
          font-size: 1.2em;
          height: 1.5rem; // Fixed height
          overflow: hidden; // Hide overflow
        }

        .class-time {
          font-size: 0.8rem;
          color: #666;
        }

        .class-desc {
          font-size: 0.9em;
          color: $text-color;
        }
      }
    }

    .book-button {
      background-color: #25839B; // Blue background
      color: #ffffff; // White text
      padding: 10px 20px; // Padding inside the button
      border: 2px solid #25839B; // Solid border with the same color as the background
      border-radius: 25px; // Fully rounded corners for pill shape
      font-weight: bold; // Bold text
      font-size: .7rem; // Font size, adjust as needed
      text-transform: uppercase; // Uppercase text
      cursor: pointer;
      text-align: center;
      display: inline-block; // Allows the use of text-align
      margin: 0 auto; // Center button if within a block
      transition: background-color 0.3s, color 0.3s; // Smooth transition for hover effect
      text-decoration: none; // Removes underline from text if it's an <a> element
    
      &:hover {
        background-color: darken(#15505F, 10%); // Slightly darker blue on hover
        border-color: darken(#25839B, 10%); // Ensure the border color also darkens on hover
        color: #ffffff; // Text remains white on hover
      }
    }
    
  }
}

//----------------- End of Trainer -----------------
