
.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
  
    h1 {
      font-size: 5rem;
      color: #25839b;
    }
  
    p {
      font-size: 1.5rem;
      color: #666;
    }
  }
  