// mealplans.scss

//----------------- Beginning of Navbar -----------------
.meal-kits-nav {
    font-family: "Poppins", sans-serif;
    ul {
      list-style: none;
      padding: 0;
      margin: 20px 0;
      display: flex;
      justify-content: center;
  
      li {
        margin: 0 10px; // This spaces out the nav items
        position: relative; // For positioning the active indicator
  
        a {
          text-decoration: none;
          color: #000; // Adjust the color as needed
          font-weight: bold;
  
          &:hover {
            color: #25839b; // Adjust the hover color as needed
          }
        }
  
        span {
          display: block;
          color: #666; // Subtext color
          font-size: 0.8em;
        }
  
        &.active {
          a {
            color: #25839b; // Active link color
          }
  
          &::after {
            content: "";
            position: absolute;
            bottom: -10px; // Adjust the position as needed
            left: 50%;
            transform: translateX(-50%);
            width: 20px; // Width of the active indicator
            height: 3px; // Height of the active indicator
            background-color: #25839b; // Active indicator color
            border-radius: 1px;
          }
        }
      }
    }
  }
  
  //----------------- End of Navbar -----------------
  
  //----------------- Beginning of images for meals-----------------
  .meal-kits-page {
    font-family: "Poppins", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
  
    .meal-kits-header {
      text-align: center;
      margin-bottom: 40px;
  
      h1 {
        font-size: 2em;
        margin-bottom: 0.25em;
      }
  
      p {
        font-size: 1em;
        color: #666;
        margin-bottom: 0.5em;
      }
  
      h2 {
        font-size: 1.5em;
        margin-bottom: 1em;
      }
  
      .see-plans-button {
        background-color: #25839b;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #15505f;
        }
      }
  
      .week-and-plans {
        display: flex; // Use flexbox to align items on the same line
        justify-content: space-between; // Space out the items
        align-items: center; // Vertically center the items
        margin-top: 20px; // Add margin as needed
      
        .week-title {
          font-size: 1.5em; // Adjust as necessary
          margin: 0; // Remove default margin
          padding-left: 5%;
        }
      
        .see-plans-button {
          background-color: #25839b;
          color: #fff;
          border: none;
          padding: 10px 40px;
          border-radius: 20px;
          cursor: pointer;
          margin-right: 3%;
  
      
          &:hover {
            background-color: #15505f;
          }
        }
      }
    }
  
    .meal-options {
      display: flex;
      justify-content: space-around; // This will add space around each card
      flex-wrap: wrap; // This allows for wrapping cards to the next line
      gap: 20px; // This adds space between the cards
      cursor: pointer; // To indicate it's clickable
      transition: transform 0.3s ease; // Smooth transition for scaling
  
  
  
      .meal-option-link {
        display: block; // To make the entire area clickable
        color: inherit; // To inherit text color from parent
        text-decoration: none; // To prevent underline on the link
      }
  
      .meal-option {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Adds a shadow for depth
        overflow: hidden; // Keeps everything inside the border radius
        margin: 20px; // Adds space around each card
        width: calc(
          33.333% - 70px
        ); // Adjusts the width of the cards accounting for margin
        position: relative;
  
        &:hover {
          transform: scale(1.05); // Scales up the card a bit on hover
        }
  
        img {
          width: 100%;
          display: block;
        }
  
        .meal-tag {
          position: absolute;
          bottom: 150px; // Adjust this as needed to position the tag over the image
          left: 0px;
          background-color: rgba(
            37,
            131,
            155,
            0.9
          ); // Adjust the alpha for transparency
          color: #fff;
          padding: 5px 15px;
          font-size: 0.9em;
          font-weight: bold;
          text-transform: uppercase; // If you want the tag text to be uppercase
        }
  
        .meal-info {
          padding: 15px;
  
          .meal-name {
            font-weight: bold;
            margin-top: 20px;
          }
  
          .meal-description {
            color: #666;
            margin: 10px 0;
            display: flex;
            align-items: center; // This ensures vertical centering, which we will override for the icon
          }
        }
      }
    }
  }
  
  .meal-prep-time {
    display: flex; // Use flexbox for alignment
    align-items: center; // Vertically center the icon and text
    gap: 5px; // Add some space between the icon and text
  
    .clock-icon {
      flex-shrink: 0; // Prevent the icon from shrinking
      height: 1em; // Set the height relative to the font size
    }
  }
  
  .meal-card {
    display: block; // Make sure the <a> tag is a block-level element
    background-color: #fff; // Example card background
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); // Card shadow
    overflow: hidden;
    text-decoration: none; // Remove underline from the link
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.05); // Grow the card on hover
    }
  
  }
  
  .meal-cards-container {
    display: flex;
    flex-wrap: wrap; // Allow cards to wrap to next line
    gap: 20px; // Space between cards
    justify-content: center; // Center the cards if they don't fill the full width
    // ... any other container styles
  }
  //----------------- End of images for meals-----------------
  
  //----------------- Beginning of build your plan -----------------
  .meal-plans {
    max-width: 600px;
    margin: 40px auto;
    font-family: "Poppins", sans-serif;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  
    .header {
      font-size: 24px;
      text-align: center;
      padding: 10px 210px;
      margin-bottom: 20px;
      font-weight: 600;
    }
  
    .plan-type-selector {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  
      .plan-type-option {
        background-color: #f6f6f6;
        color: #333;
        padding: 10px 20px;
        margin: 0 5px;
        border: 2px solid transparent;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s, border 0.3s;
  
        &:hover {
          background-color: #e6e6e6;
        }
  
        &.selected {
          background-color: #25839b;
          color: white;
          border: 2px solid #25839b;
        }
      }
    }
  
    .description {
      text-align: center;
      margin-bottom: 20px;
      font-size: 14px;
      color: #666;
    }
  
    .selectors {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      justify-content: center;
      margin-bottom: 20px;
  
      .selector-group {
        display: flex;
        justify-content: space-between; // Adjust as necessary for alignment
  
        .servings-selector,
        .meals-selector {
          flex: 1; // Make them take equal space
  
          .buttons-row {
            display: flex; // This will align buttons in a row
            justify-content: center; // Center the buttons
          }
        }
      }
  
      .servings-selector,
      .meals-selector {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
  
        label {
          font-size: 14px;
          margin-bottom: 10px;
          color: #666;
          font-weight: 600;
        }
  
        .selector-button {
          background-color: #f6f6f6;
          color: #333;
          padding: 10px 0; // Adjust vertical padding as needed
          border: 1px solid #ccc;
          min-width: 90px; // Set a minimum width for buttons
          flex: 1; // Allow buttons to expand
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s;
          text-align: center;
          font-size: 16px; // Adjust font size as needed
          margin: 0; // Remove margin to make buttons connected
          border-radius: 0; // Remove border-radius to make buttons squared
  
          &:not(:first-child) {
            border-left: none; // Remove left border to make buttons look connected
          }
  
          &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }
  
          &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }
  
          &:hover {
            background-color: #e6e6e6;
          }
  
          &.active {
            background-color: #25839b;
            color: white;
            border: 1px solid #25839b;
            z-index: 1; // Bring the active button above others to maintain border overlap
          }
        }
      }
    }
  
    .buttons-row {
      display: flex;
    }
  
    .servings-selector .buttons-row,
    .meals-selector .buttons-row {
      button + button {
        margin-left: -1px; // Overlap buttons by 1px
      }
    }
  
    .price-display {
      text-align: center;
      margin-bottom: 20px;
  
      .price-per-serving,
      .shipping,
      .total-price {
        font-size: 16px;
        color: #333;
        margin: 5px 0;
        font-weight: 600;
      }
  
      .discount-note {
        font-size: 12px;
        color: #666;
        margin-top: 10px;
      }
    }
  
    .continue-button {
      width: 100%;
      background-color: #25839b;
      color: white;
      padding: 15px 20px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin-top: 10px;
      transition: background-color 0.3s;
      grid-column: span 2;
  
      &:hover {
        background-color: #15505f;
      }
    }
  
    .cancellation-note {
      text-align: center;
      margin-top: 20px;
      font-size: 12px;
      color: #666;
      grid-column: span 2;
    }
  
    .columns {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px; // Adjust the gap to match your design
      align-items: start;
  
      @media (max-width: 768px) {
        grid-template-columns: 1fr; // Stack the columns on smaller screens
      }
    }
  }
  
  //----------------- End of build your plan -----------------
  
  //----------------- Begining of FAQ ----------------
  
  .faq-section {
    padding: 2rem 0;
    font-family: "Poppins", sans-serif;
  
    padding-left: 6rem;
    padding-right: 6rem;
  
  
    .faq-title {
      text-align: center;
      margin-bottom: 1.5rem;
      h2 {
        font-size: 2rem;
        color: #333;
        margin-bottom: 1rem;
      }
    }
    .faq-content {
      .faq-item {
        background: #fff;
        margin-bottom: 1rem;
        padding: 2rem;
       
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        .faq-question {
          font-size: 1.1rem;
          font-weight: bold;
          color: #25839b;
        }
        .faq-answer {
          overflow: hidden;
          transition: max-height 0.3s ease;
          max-height: 0; // Start with max-height 0
        }
        &.active .faq-answer {
          max-height: none; // When active, max-height is none, so content determines height
        }
      }
    }
  }
  
  //--------------- End of FAQ ----------------------
  